{% extends 'base.html.njk' %}

{% block title %}Most Liked Fossils{% endblock %}

{% block body %}
    <h1>Most Liked Fossils</h1>

    <form action="/get-name">
      <div>
        <label for="namefield">What's your name?</label>
        <input id="namefield" type="text" name="name" required />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>

    <h1>Random Fossil</h1>
    <button id="get-random-fossil">Get Random Fossil</button>
    <div id="random-fossil-image"></div>
    <p id="random-fossil-name"></p>

    <script type="module" src="../src/random-fossil.js"></script>
{% endblock %}
